/* Add screen styles below */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2f2f2f;
    color: white;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0 80px;
}

.site h1 {
    width: 500px;
    margin: 0;
    text-align: left;
}

.photo {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}